<div class="row">
  <div class="col-lg-12">
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" ng-model="searchCtrl.searchStr" class="form-control" placeholder="Buscar">
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-lg-4" ng-repeat="r in searchCtrl.gridList|filter:searchCtrl.searchStr">

    <h2>{{ r.hotel }}</h2>
    <p>{{ r.resort }}</p>
    <p class="col-lg-4" ng-repeat="tag in r.tags">
      <span class="label label-default">{{ tag }}</span>
    </p>
    <br>
    <hr>
    <ul class="stars">
      <li><i ng-class="searchCtrl.getStar(1, r.stars)" aria-hidden="true"></i></li>
      <li><i ng-class="searchCtrl.getStar(2, r.stars)" aria-hidden="true"></i></li>
      <li><i ng-class="searchCtrl.getStar(3, r.stars)" aria-hidden="true"></i></li>
      <li><i ng-class="searchCtrl.getStar(4, r.stars)" aria-hidden="true"></i></li>
      <li><i ng-class="searchCtrl.getStar(5, r.stars)" aria-hidden="true"></i></li>
    </ul>
    <hr>
    <p ng-bind="r.description.overview"></p>
    <hr>
    <p><button class="btn btn-primary" ng-click="searchCtrl.moreDetail(r._id)" role="button">Mais</button></p>
  </div>
</div>
