
    <h1>Editar</h1>

    <form>	
   		<div class="row">
   			<div class="col-md-6">
   				<label>Hotel</label>
    			<input type="text" name="hotel" class="form-control" ng-model="data.hotel">
   			</div>
   		</div>
   		<div class="row">
   			<div class="col-md-6">
   				<label>Resort hotel</label>
    			<input type="text" name="resort" class="form-control" ng-model="data.resort">
   			</div>
   		</div>
   		<div class="row">
   			<div class="col-md-6">
   				<label>Latitude</label>
    			<input type="text" name="latitude" class="form-control" ng-model="data.latitude">
   			</div>
   		</div>
   		<div class="row">
   			<div class="col-md-6">
   				<label>Longitude</label>
    			<input type="text" name="longitude" class="form-control" ng-model="data.longitude">
   			</div>
   		</div>
   		<div class="row">
   			<div class="col-md-6">
   				<label>Estrelas</label>
    			<input type="text" name="estrelas" class="form-control" ng-model="data.stars">
   			</div>
   		</div>
    </form>

    <br><br>

    <a href="" class="btn btn-success">Salvar</a>