
    <div ng-repeat="(key, value) in hotels" class="col-md-3 jumbotron" style="margin-right:10px;">
        <h2>{{value.hotel}}</h25
        <h3>{{value.resort}}</h3>
        <h4>{{value.latitude}} x {{value.longitude}}</h4>
        <h5>{{value.stars}} estrelas</h5>
        <hr></hr>
        <h4>Tags</h4>
        <ul>
            <li>{{value.tags[0]}}</li>
            <li>{{value.tags[1]}}</li>
            <li>{{value.tags[2]}}</li>
        </ul>
        <hr></hr>
        <h4>Descrição</h4>
        <ul>
            <li>{{value.description.overview}}</li>
            <li>{{value.description.about}}</li>
            <li>{{value.description.rooms}}</li>
            <li>{{value.description.amenities}}</li>
        </ul>
    </div>